<div class="table-container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns" [ngClass]="column.key + '-col'">
          {{ column.header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let column of columns" [ngClass]="column.key + '-col'">
          <ng-container [ngSwitch]="column.type">
            <!-- Select -->
            <ng-container *ngSwitchCase="'select'">
              <select
                *ngIf="isEditing(item) && column.editable !== false"
                [ngModel]="getValue(item, column.key)"
                (ngModelChange)="onEditChange(item, column.key, $event)"
              >
                <option *ngFor="let option of column.options" [value]="option">
                  {{ option }}
                </option>
              </select>
              <span *ngIf="!isEditing(item) || column.editable === false">{{
                getValue(item, column.key)
              }}</span>
            </ng-container>

            <!-- Status -->
            <div *ngSwitchCase="'status'" class="status-column">
              <ng-container [ngSwitch]="getValue(item, column.key)">
                <span
                  *ngSwitchCase="'deployed'"
                  class="status-deployed"
                  title="Déployé"
                >
                  <i class="material-icons">check_circle</i>
                </span>
                <span
                  *ngSwitchCase="'deleting'"
                  class="status-deleting"
                  title="Suppression en cours"
                >
                  <i class="material-icons rotating">delete</i>
                </span>
                <span
                  *ngSwitchCase="'pending'"
                  class="status-pending"
                  title="Ajout en cours"
                >
                  <i class="material-icons rotating">hourglass_empty</i>
                </span>
                <span
                  *ngSwitchDefault
                  class="status-unknown"
                  title="Statut inconnu"
                >
                  <i class="material-icons">help_outline</i>
                </span>
              </ng-container>
            </div>

            <!-- Actions -->
            <div *ngSwitchCase="'actions'" class="actions">
              <ng-container *ngIf="column.template === 'passwordTemplate'">
                <ng-container
                  *ngTemplateOutlet="
                    passwordTemplate;
                    context: { $implicit: item }
                  "
                >
                </ng-container>
              </ng-container>
              <ng-container *ngIf="column.template === 'actionsTemplate'">
                <ng-container
                  *ngTemplateOutlet="
                    actionsTemplate;
                    context: { $implicit: item }
                  "
                >
                </ng-container>
              </ng-container>
            </div>

            <!-- Text -->
            <ng-container *ngSwitchCase="'number'">
              <input
                *ngIf="isEditing(item) && column.editable !== false"
                type="number"
                [ngModel]="getValue(item, column.key)"
                (ngModelChange)="onEditChange(item, column.key, $event)"
                min="0"
                class="edit-input"
              />
              <span *ngIf="!isEditing(item) || column.editable === false">{{
                getValue(item, column.key)
              }}</span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <input
                *ngIf="isEditing(item) && column.editable !== false"
                type="text"
                [ngModel]="getValue(item, column.key)"
                (ngModelChange)="onEditChange(item, column.key, $event)"
                class="edit-input"
              />
              <span *ngIf="!isEditing(item) || column.editable === false">{{
                getValue(item, column.key)
              }}</span>
            </ng-container>
          </ng-container>
        </td>
      </tr>

      <!-- Message si aucune donnée -->
      <tr *ngIf="!isLoading && (!data || data.length === 0)">
        <td [attr.colspan]="columns.length" class="no-data">
          Aucune donnée disponible
        </td>
      </tr>

      <!-- Loading state -->
      <tr *ngIf="isLoading">
        <td [attr.colspan]="columns.length" class="loading">Chargement...</td>
      </tr>
    </tbody>
  </table>
</div>
