<div class="search-bar">
  <div class="search-bar-row">
    <div class="search-input-container">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (keyup.enter)="onSearch()"
        placeholder="Rechercher un produit..."
        class="search-input"
      />
      <button (click)="onSearch()" class="search-button" type="button">
        <mat-icon class="search-icon">search</mat-icon>
      </button>
    </div>
    <button
      *ngIf="searchTerm"
      (click)="onClear()"
      class="clear-button"
      type="button"
    >
      ✕
    </button>
  </div>
</div>
